In [1]:
#!pip install openpyxl
import pandas as pd
df=pd.read_csv("flikart_webscrap.csv")
df

,Unnamed: 0,stars,ratings,discounts,prices,brand,energy_rating,capacity,max_spin_speed
0,0,4.2,"6,171 Ratings",48% off,"â‚¹13,990",Godrej,5,7 kg,720 rpm
1,1,4.3,"2,379 Ratings",32% off,"â‚¹11,548",Lloyd,5,7.5 kg,1300 rpm
2,2,4.3,"86,950 Ratings",21% off,"â‚¹28,590",IFB,5,7 kg,1200 RPM
3,3,4.3,"79,969 Ratings",20% off,"â‚¹17,990",SAMSUNG,5,7 kg,700 rpm
4,4,4.3,"86,950 Ratings",26% off,"â‚¹33,990",IFB,5,8 kg,1200 RPM
...,...,...,...,...,...,...,...,...,...
378,378,4.4,608 Ratings,19% off,"â‚¹13,400",Godrej,8 kg,Pulsator,No
379,379,4.4,165 Ratings,21% off,"â‚¹14,800",SAMSUNG,5,8.5 kg,1300 rpm
380,380,4.0,231 Ratings,39% off,"â‚¹16,990",Godrej,5,7.5 Kg,750 rpm
381,381,NaN,NaN,22% off,"â‚¹23,349",Whirlpool,5,8.5 kg,740 RPM
382,382,3.9,27 Ratings,41% off,"â‚¹11,199",Voltas Beko,5,8 kg,1300 rpm

In [2]:
mask=df["capacity"].apply(lambda x:len(x)<7)
len(df[mask])

352

In [3]:
df2 = df[mask]
df2.shape

(352, 9)

In [4]:
df2

,Unnamed: 0,stars,ratings,discounts,prices,brand,energy_rating,capacity,max_spin_speed
0,0,4.2,"6,171 Ratings",48% off,"â‚¹13,990",Godrej,5,7 kg,720 rpm
1,1,4.3,"2,379 Ratings",32% off,"â‚¹11,548",Lloyd,5,7.5 kg,1300 rpm
2,2,4.3,"86,950 Ratings",21% off,"â‚¹28,590",IFB,5,7 kg,1200 RPM
3,3,4.3,"79,969 Ratings",20% off,"â‚¹17,990",SAMSUNG,5,7 kg,700 rpm
4,4,4.3,"86,950 Ratings",26% off,"â‚¹33,990",IFB,5,8 kg,1200 RPM
...,...,...,...,...,...,...,...,...,...
377,377,4.5,4 Ratings,15% off,"â‚¹21,100",SAMSUNG,5,7 kg,700 rpm
379,379,4.4,165 Ratings,21% off,"â‚¹14,800",SAMSUNG,5,8.5 kg,1300 rpm
380,380,4.0,231 Ratings,39% off,"â‚¹16,990",Godrej,5,7.5 Kg,750 rpm
381,381,NaN,NaN,22% off,"â‚¹23,349",Whirlpool,5,8.5 kg,740 RPM
382,382,3.9,27 Ratings,41% off,"â‚¹11,199",Voltas Beko,5,8 kg,1300 rpm

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 352 entries, 0 to 382
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      352 non-null    int64
 1   stars           347 non-null    float64
 2   ratings         341 non-null    object
 3   discounts       349 non-null    object
 4   prices          352 non-null    object
 5   brand           352 non-null    object
 6   energy_rating   352 non-null    object
 7   capacity        352 non-null    object
 8   max_spin_speed  352 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 27.5+ KB

In [6]:
df2 = df2.copy()
df2.dropna(axis=0, inplace=True)
df2

,Unnamed: 0,stars,ratings,discounts,prices,brand,energy_rating,capacity,max_spin_speed
0,0,4.2,"6,171 Ratings",48% off,"â‚¹13,990",Godrej,5,7 kg,720 rpm
1,1,4.3,"2,379 Ratings",32% off,"â‚¹11,548",Lloyd,5,7.5 kg,1300 rpm
2,2,4.3,"86,950 Ratings",21% off,"â‚¹28,590",IFB,5,7 kg,1200 RPM
3,3,4.3,"79,969 Ratings",20% off,"â‚¹17,990",SAMSUNG,5,7 kg,700 rpm
4,4,4.3,"86,950 Ratings",26% off,"â‚¹33,990",IFB,5,8 kg,1200 RPM
...,...,...,...,...,...,...,...,...,...
375,375,4.3,"2,758 Ratings",23% off,"â‚¹18,798",Whirlpool,5,6.5 kg,740 rpm
377,377,4.5,4 Ratings,15% off,"â‚¹21,100",SAMSUNG,5,7 kg,700 rpm
379,379,4.4,165 Ratings,21% off,"â‚¹14,800",SAMSUNG,5,8.5 kg,1300 rpm
380,380,4.0,231 Ratings,39% off,"â‚¹16,990",Godrej,5,7.5 Kg,750 rpm
382,382,3.9,27 Ratings,41% off,"â‚¹11,199",Voltas Beko,5,8 kg,1300 rpm

In [8]:
df2.replace({
    'ratings':'[ Ratings]',
    'prices':'[â‚¹]',
    'capacity':[' Kg',' kg'],
    'max_spin_speed':[' rpm',' RPM']
},'',regex=True,inplace=True)
df2

,Unnamed: 0,stars,ratings,discounts,prices,brand,energy_rating,capacity,max_spin_speed
0,0,4.2,"6,171",48% off,"13,990",Godrej,5,7,720
1,1,4.3,"2,379",32% off,"11,548",Lloyd,5,7.5,1300
2,2,4.3,"86,950",21% off,"28,590",IFB,5,7,1200
3,3,4.3,"79,969",20% off,"17,990",SAMSUNG,5,7,700
4,4,4.3,"86,950",26% off,"33,990",IFB,5,8,1200
...,...,...,...,...,...,...,...,...,...
375,375,4.3,"2,758",23% off,"18,798",Whirlpool,5,6.5,740
377,377,4.5,4,15% off,"21,100",SAMSUNG,5,7,700
379,379,4.4,165,21% off,"14,800",SAMSUNG,5,8.5,1300
380,380,4.0,231,39% off,"16,990",Godrej,5,7.5,750
382,382,3.9,27,41% off,"11,199",Voltas Beko,5,8,1300

In [9]:
df2.replace({
    'ratings':'[,]',
    'prices':'[,]'
},'',regex=True,inplace=True)
df2

,Unnamed: 0,stars,ratings,discounts,prices,brand,energy_rating,capacity,max_spin_speed
0,0,4.2,6171,48% off,13990,Godrej,5,7,720
1,1,4.3,2379,32% off,11548,Lloyd,5,7.5,1300
2,2,4.3,86950,21% off,28590,IFB,5,7,1200
3,3,4.3,79969,20% off,17990,SAMSUNG,5,7,700
4,4,4.3,86950,26% off,33990,IFB,5,8,1200
...,...,...,...,...,...,...,...,...,...
375,375,4.3,2758,23% off,18798,Whirlpool,5,6.5,740
377,377,4.5,4,15% off,21100,SAMSUNG,5,7,700
379,379,4.4,165,21% off,14800,SAMSUNG,5,8.5,1300
380,380,4.0,231,39% off,16990,Godrej,5,7.5,750
382,382,3.9,27,41% off,11199,Voltas Beko,5,8,1300

In [10]:
df2.ratings=df2.ratings.astype(int)

In [12]:
df2.ratings.dtype

dtype('int64')

In [13]:
df2.prices=df2.prices.astype(int)

In [14]:
df2.prices.dtype

dtype('int64')

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 339 entries, 0 to 382
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      339 non-null    int64
 1   stars           339 non-null    float64
 2   ratings         339 non-null    int64
 3   discounts       339 non-null    object
 4   prices          339 non-null    int64
 5   brand           339 non-null    object
 6   energy_rating   339 non-null    object
 7   capacity        339 non-null    object
 8   max_spin_speed  339 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 26.5+ KB

In [16]:
df2.capacity.unique()

array(['7', '7.5', '8', '8.5', '6.5', '9.5', '9', '6', '10', '14', '11',
       '12', 'Tumble', '5.5'], dtype=object)

In [17]:
MASK=df2.capacity!="Tumble"
MASK.sum()

np.int64(338)

In [18]:
df3=df2[MASK]

In [19]:
df3 = df3.copy()

In [20]:
df3.capacity=df3.capacity.astype(float)

In [21]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 338 entries, 0 to 382
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      338 non-null    int64
 1   stars           338 non-null    float64
 2   ratings         338 non-null    int64
 3   discounts       338 non-null    object
 4   prices          338 non-null    int64
 5   brand           338 non-null    object
 6   energy_rating   338 non-null    object
 7   capacity        338 non-null    float64
 8   max_spin_speed  338 non-null    object
dtypes: float64(2), int64(3), object(4)
memory usage: 26.4+ KB

In [22]:
df3.energy_rating.unique()

array(['5', '4', '1'], dtype=object)

In [30]:
df3['energy_rating'] = df3['energy_rating'].astype(int)

In [31]:
df3.energy_rating.dtype

dtype('int64')

In [32]:
df3.max_spin_speed.unique()

array(['720', '1300', '1200', '700', '1400', '1440', '1000', '740',
       '1350', '702', '1500', '650', '1450', '800', '750', '680', '900',
       '840', '780', '1360', '1380', 'Yes', '1490'], dtype=object)

In [33]:
MASK=df3.max_spin_speed!="Yes"
MASK.sum()

np.int64(337)

In [34]:
df4=df3[MASK]

In [35]:
df4 = df4.copy()

In [36]:
df4.max_spin_speed=df4.max_spin_speed.astype(int)

In [37]:
df4.max_spin_speed.dtype

dtype('int64')

In [38]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 337 entries, 0 to 382
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      337 non-null    int64
 1   stars           337 non-null    float64
 2   ratings         337 non-null    int64
 3   discounts       337 non-null    object
 4   prices          337 non-null    int64
 5   brand           337 non-null    object
 6   energy_rating   337 non-null    int64
 7   capacity        337 non-null    float64
 8   max_spin_speed  337 non-null    int64
dtypes: float64(2), int64(5), object(2)
memory usage: 26.3+ KB

In [39]:
df4

,Unnamed: 0,stars,ratings,discounts,prices,brand,energy_rating,capacity,max_spin_speed
0,0,4.2,6171,48% off,13990,Godrej,5,7.0,720
1,1,4.3,2379,32% off,11548,Lloyd,5,7.5,1300
2,2,4.3,86950,21% off,28590,IFB,5,7.0,1200
3,3,4.3,79969,20% off,17990,SAMSUNG,5,7.0,700
4,4,4.3,86950,26% off,33990,IFB,5,8.0,1200
...,...,...,...,...,...,...,...,...,...
375,375,4.3,2758,23% off,18798,Whirlpool,5,6.5,740
377,377,4.5,4,15% off,21100,SAMSUNG,5,7.0,700
379,379,4.4,165,21% off,14800,SAMSUNG,5,8.5,1300
380,380,4.0,231,39% off,16990,Godrej,5,7.5,750
382,382,3.9,27,41% off,11199,Voltas Beko,5,8.0,1300

In [40]:
df4.to_csv("flikpart_cleaned_data_for_bi.csv",index=False)